/* About section styles */


  .about h2 {
	font-size: 28px;
	margin-bottom: 50px;
	
	text-align: center;
  }
  .paragraph {
	padding-top: 40px;
	padding-bottom: 70px;
  }
  .head {
	padding-top: 100px;
  }
  .about p {
	font-size: 16px;
	color: #7d7878;
	line-height: 1.6;
	max-width: 800px;
	margin: 0 auto;
  }
  .container {
	max-width: 800px;
	margin: 0 auto;
	padding: 40px;
	font-family: Arial, sans-serif;
	display: flex;
	flex-direction: column; /* Stack children vertically */
	min-height: 100vh; /* Ensure at least full viewport height */
	}