/* styles/styles.css */
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column; /* Stack children vertically */
  min-height: 100vh; /* Ensure at least full viewport height */
  }
 
 .heading {
	font-size: large;
	color: #777;
 }
  .articleList {
	list-style: none;
	padding: 0;
  }
  
  .article {
	display: flex;
	align-items: center;
	margin-bottom: 20px; /* Adjust spacing between articles */
  }
  
  .thumbnail img {
	max-width: 100px; /* Adjust the maximum width of the thumbnail */
	margin-right: 20px; /* Adjust spacing between thumbnail and article info */
  }
  
  .articleInfo {
	flex: 1;
  }
  
  .articleTitle {
	font-size: 24px;
	margin-bottom: 10px; /* Adjust spacing between title and date */
  }
  
  .articleDate {
	color: #777; /* Soft font color */
  }
  