/* styles/styles.css */
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
  display: flex;
  flex-direction: column; /* Stack children vertically */
  min-height: 100vh; /* Ensure at least full viewport height */
  }
 
 .heading {
	font-size: 15px;
  padding-bottom: 40px;
 }
  .articleList {
	list-style: none;
	padding: 0;
  }
  
  .article {
	display: flex;
	align-items: center;
	margin-bottom: 30px; /* Adjust spacing between articles */
  }
  
  .thumbnail img {
	max-width: 100px; /* Adjust the maximum width of the thumbnail */
	margin-right: 20px; /* Adjust spacing between thumbnail and article info */
  }
  
  .articleInfo {
	flex: 1;
  }
  
  .articleTitle a {
    text-decoration: none; /* Remove the default underline on links */
    color: #5f9fc2; /* Set the default font color for the article title */
    transition: color 0.3s ease; /* Add a smooth transition effect for the color property */
  }
  
  .articleTitle a:hover {
    color: #115174; /* Change the font color to red when hovering */
  }
  
  .articleDate {
	color: #777; /* Soft font color */
  }
  