/* Contact section styles */
.contact {
	padding: 100px 0;
	text-align: center;
  }
  
  .contact h2 {
	font-size: 28px;
	margin-bottom: 20px;
	
  }
  
  .contact p {
	font-size: 16px;
	color: #7d7878;
	line-height: 1.6;
	max-width: 800px;
	margin: 0 auto 40px;
  }
  
  .contact form {
	max-width: 400px;
	margin: 0 auto;
  }
  
  .contact label {
	display: block;
	font-weight: bold;
	margin-bottom: 8px;
	color: #7d7878;
  }
  
  .contact input,
  .contact textarea {
	width: 100%;
	padding: 10px;
	margin-bottom: 20px;
	border: 1px solid #ccc;
	border-radius: 5px;
  }
  
  .contact button {
	padding: 10px 20px;
	background-color: #6096B4;
	color: #fff;
	border: none;
	border-radius: 5px;
	font-weight: bold;
	cursor: pointer;
	transition: background-color 0.3s ease;
  }
  
  .contact button:hover {
	background-color:#6096B4;
  }
  .alert {
	position: fixed;
	top: 20px;
	right: 20px;
	background-color: #e6a3d2;
	color: #333;
	padding: 10px 20px;
	border-radius: 5px;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
	animation: slideIn 0.5s ease-in-out forwards;
  }
  
  @keyframes slideIn {
	from {
	  transform: translateX(100%);
	}
	to {
	  transform: translateX(0);
	}
  }
  
  .fadeOut {
	animation: fadeOut 0.5s ease-in-out forwards;
  }
  
  @keyframes fadeOut {
	from {
	  opacity: 1;
	}
	to {
	  opacity: 0;
	}
  }