a {
	text-decoration: none;
	color: inherit;
  }
  .theme {
	transition: 1s all ease;
  }
  .lgiht{
	 background-color:white;
	 color: #111
  }
  .dark{
	background-color: #111;
	 color: #DAF5FF
  }
  .container {
	max-width: 1366px;
	min-height: 100vh;
	margin:0 auto;
	padding: 60px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
  }