.container {
	height: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 20px;
	padding-left: 35px;
	padding-right: 35px;
	margin: 0 20px;
  	
  	font-weight: bold;
  
  	transition: color 0.3s ease;
  
}

.logo{
	font-weight: bold;
	font-size: 25px;
	color:  #666;
	text-decoration: none
	
}

.links{
	display: flex;
	align-items: center;
	gap: 20px;
	color: #666;
	text-decoration: none
}

.logout{
	padding:7px;
	border: none;
	background-color: #FEFF86;
	color: #203e49;
	cursor: pointer;
	border-radius: 3px;
}
/* Light mode */
.header {
	background-color: #ffffff;
	color: #333333;
  }
  
  /* Dark mode */
  .dark .header {
	background-color: #333333;
	color: #ffffff;
  }
  