/* Mission section styles */
.mission {
	padding: 100px 0;
	text-align: center;
  }
  
  .mission h2 {
	font-size: 28px;
	margin-bottom: 20px;
	
  }
  
  .mission p {
	font-size: 16px;
	color: #7d7878;
	line-height: 1.6;
	max-width: 800px;
	margin: 0 auto;
  }
  .head {
	padding-top: 100px;
  }
  .paragraph {
	padding-top: 50px;
	padding-bottom: 100px;
  }